<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Add New Product</title>
</head>
<body>
    <form action="/products" method="POST">
        <input type="text" placeholder="product name" name="name">
        <input type="text" placeholder="img" name="img">
        <input type="text" placeholder="price" name="price">
        <input type="text" placeholder="description" name="description">
        <input type="text" placeholder="qty" name="qty">
        <input type="submit" value="product">
    </form>
</body>
</html>